{# Widgets #}

{% block form_widget %}
    {% spaceless %}
        {% if compound %}
            {{ block('form_widget_compound') }}
        {% else %}
            {{ block('form_widget_simple') }}
        {% endif %}
    {% endspaceless %}
{% endblock form_widget %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input  class="form-control placeholder-no-fix"  type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block form_widget_compound %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
        {% endif %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock collection_widget %}

{% block textarea_widget %}
    {% spaceless %}
        <textarea class="form-control" {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block text_widget %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <div class="input-icon">
            <i class="fa fa-font"></i>
            {{ block('form_widget_simple') }}
        </div>
    {% endspaceless %}
{% endblock text_widget %}

{% block facebook_widget %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <div class="input-icon">
            <i class="fa fa-facebook"></i>
            {{ block('form_widget_simple') }}
        </div>
    {% endspaceless %}
{% endblock facebook_widget %}

{% block phone_widget %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <div class="input-icon">
            <i class="glyphicon glyphicon-phone-alt"></i>
            {{ block('form_widget_simple') }}
        </div>
    {% endspaceless %}
{% endblock phone_widget  %}
{% block mobile_phone_widget %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <div class="input-icon">
            <i class="fa fa-mobile-phone"></i>
            {{ block('form_widget_simple') }}
        </div>
    {% endspaceless %}
{% endblock mobile_phone_widget  %}

{% block choice_widget %}
    {% spaceless %}
        {% if expanded %}
            {{ block('choice_widget_expanded') }}
        {% else %}
            {{ block('choice_widget_collapsed') }}
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {% if multiple %}
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                {% else %}
                    {{ form_widget(child) }}
                {% endif %}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        <select {{ block('widget_attributes') }}  {% if multiple %} multiple="multiple"{% endif %} class="form-control input-sm select2me" data-placeholder="Select...">
            {% if multiple != true %} <option value=""></option> {% endif %}
            {#{% if empty_value is not none %}#}
            {#<option value=""{% if required %} disabled="disabled"{% if value is empty %} selected="selected"{% endif %}{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>#}
            {#<option value=""{% if value is empty %} selected="selected"{% endif %}}>{{ empty_value|trans({}, translation_domain) }}</option>#}
            {#{% endif %}#}
            {#{% if preferred_choices|length > 0 %}#}
            {#{% set options = preferred_choices %}#}
            {#{{ block('choice_widget_options') }}#}
            {#{% if choices|length > 0 and separator is not none %}#}
            {#<option disabled="disabled">{{ separator }}</option>#}
            {#{% endif %}#}
            {#{% endif %}#}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block choice_widget_options %}
    {% spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
                </optgroup>
            {% else %}
                <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock choice_widget_options %}

{% block checkbox_widget %}
    {% spaceless %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}" {% endif %}{% if checked %} checked="checked"{% endif %} />
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label class="radio-inline" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
                {{ label|trans({}, translation_domain) }}</label>
            {% endif %}

    {% endspaceless %}
{% endblock radio_widget %}

{% block datetimepicker_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            <div data-date="" class="input-group date form_datetime">
                <input  readonly="" size="14" class="form-control placeholder-no-fix input-sm" {{ block('widget_attributes') }} {% if value is not empty %}value="" {% endif %}/>
                <span class="input-group-btn">
                    <button type="button" class="btn default date-reset"><i class="fa fa-times"></i></button>
                </span>
                <span class="input-group-btn">
                    <button type="button" class="btn default date-set"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
    {% endspaceless %}
{% endblock datetimepicker_widget %}

{% block datetime_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form.date) }}
            {{ form_errors(form.time) }}

            <div data-date="" class="input-group date form_datetime">
                <input  readonly="" size="14" class="form-control placeholder-no-fix input-sm" {{ block('widget_attributes') }} {% if value is not empty %}value="" {% endif %}/>
                <span class="input-group-btn">
                    <button type="button" class="btn default date-reset"><i class="fa fa-times"></i></button>
                </span>
                <span class="input-group-btn">
                    <button type="button" class="btn default date-set"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
    {% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            <div {{ block('widget_container_attributes') }}>
                <div class="input-group date" >
                    <input type="text" class="form-control date-picker" data-date-viewmode="years" data-date-format="dd-mm-yyyy" size="16" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value["day"]}}-{{value["month"]}}-{{value["year"]}}"{%endif%}>
                        <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                </div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            {% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}

            <div {{ block('widget_container_attributes') }} class="input-group">
            {#{{ value["hour"]}}:{{value["minute"]}}#}
                    <input type="text" {{ block('widget_attributes') }}  {% if value is not empty %} value="{{ value["hour"]}}:{{value["minute"]}}" {% endif %} class="form-control timepicker timepicker-24">
												<span class="input-group-btn">
													<button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
												</span>
            </div>
                {#{{ form_widget(form.hour, vars) }}{% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}#}
        {% endif %}
    {% endspaceless %}
{% endblock time_widget %}

{% block number_widget %}
    {% spaceless %}
        {# type="number" doesn't work with floats #}
        {#{% set type = type|default('text') %}#}
        {% set type ='digits' %}
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <div class="input-icon">
            <i class="fa fa-number-symbol"></i>
            {{ block('form_widget_simple') }}
        </div>
    {% endspaceless %}
{% endblock number_widget %}

{% block integer_widget %}
    {% spaceless %}
        {#{% set type = type|default('number') %}#}
        {% set type ='digits' %}
        <div class="input-icon">
            <i class="fa fa-number"></i>
            {{ block('form_widget_simple') }}
        </div>
    {% endspaceless %}
{% endblock integer_widget %}

{% block money_widget %}
    {% spaceless %}
        {{ money_pattern|replace({ '{{ widget }}': block('form_widget_simple') })|raw }}
    {% endspaceless %}
{% endblock money_widget %}

{% block url_widget %}
    {% spaceless %}
        {% set type = type|default('url') %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock url_widget %}

{% block search_widget %}
    {% spaceless %}
        {% set type = type|default('search') %}
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-search"></i>
                {{ block('form_widget_simple') }}
            </div>
        </div>
    {% endspaceless %}
{% endblock search_widget %}

{% block percent_widget %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <div class="input-icon">
            <i class="fa fa-percent"></i>
            {{ block('form_widget_simple') }}
        </div>
    {% endspaceless %}
{% endblock percent_widget %}

{% block password_widget %}
    {% spaceless %}
        {% set type = type|default('password') %}
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            {{ block('form_widget_simple') }}
        </div>
    {% endspaceless %}
{% endblock password_widget %}

{% block hidden_widget %}
    {% spaceless %}
        {% set type = type|default('hidden') %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock hidden_widget %}

{% block email_widget %}
    {% spaceless %}
        {% set type = type|default('email') %}
        <div class="input-icon">
            <i class="fa fa-envelope"></i>
            {{ block('form_widget_simple') }}
        </div>
    {% endspaceless %}
{% endblock email_widget %}

{# Labels #}
{% block form_mlabel %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label class="control-label visible-ie8 visible-ie9" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
        {% endif %}
    {% endspaceless %}
{% endblock form_mlabel %}
{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label class="control-label" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{# Rows #}

{% block repeated_row %}
    {% spaceless %}
        {#
        No need to render the errors here, as all errors are mapped
        to the first child (see RepeatedTypeValidatorExtension).
        #}
        {{ block('form_rows') }}
    {% endspaceless %}
{% endblock repeated_row %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group {% if errors|length > 0 %}  has-error {% endif %}">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_mrow %}
    {% spaceless %}
        <div class="form-group {% if errors|length > 0 %}  has-error {% endif %}">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_mrow %}

{#{% block form_ajaxrow %}#}
{#{% spaceless %}#}
{#<div class="form-group {% if errors|length > 0 %}  has-error {% endif %}">#}
{#{{ form_mlabel(form) }}#}
{#{{ form_widget(form) }}#}
{#<div id="{{ id }}_error">#}
{#{{ form_errors(form) }}#}
{#</div>#}
{#</div>#}
{#{% endspaceless %}#}
{#{% endblock form_ajaxrow %}#}

{% block hidden_row %}
    {{ form_widget(form) }}
{% endblock hidden_row %}

{# Misc #}

{% block form_enctype %}
    {% spaceless %}
        {% if multipart %}enctype="multipart/form-data"{% endif %}
    {% endspaceless %}
{% endblock form_enctype %}

{% block form_errors %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <span class="help-block" for="{{ id }}">
                <ul class="error-ul">
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
                {#{{ error.message }}#}
            </span>
        {% endfor %}

    {% endif %}
{% endblock form_errors%}

{% block form_rest %}
    {% spaceless %}
        {% for child in form %}
            {% if not child.rendered %}
                {{ form_row(child) }}
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock form_rest %}

{# Support #}

{% block form_rows %}
    {% spaceless %}
        {% for child in form %}
            {{ form_row(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock form_rows %}

{% block widget_attributes %}
    {% spaceless %}
        id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
    {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
{% endspaceless %}
{% endblock widget_attributes %}

{% block widget_container_attributes %}
    {% spaceless %}
        {% if id is not empty %}id="{{ id }}" {% endif %}
        {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
    {% endspaceless %}
{% endblock widget_container_attributes %}

{# Deprecated in Symfony 2.1, to be removed in 2.3 #}

{% block generic_label %}{{ block('form_label') }}{% endblock %}
{% block widget_choice_options %}{{ block('choice_widget_options') }}{% endblock %}
{% block field_widget %}{{ block('form_widget_simple') }}{% endblock %}
{% block field_label %}{{ block('form_label') }}{% endblock %}
{% block field_row %}{{ block('form_row') }}{% endblock %}
{% block field_enctype %}{{ block('form_enctype') }}{% endblock %}
{% block field_errors %}{{ block('form_errors') }}{% endblock %}
{% block field_rest %}{{ block('form_rest') }}{% endblock %}
{% block field_rows %}{{ block('form_rows') }}{% endblock %}