<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-group"></i>{{ model.name }}s
                </div>
                <div class="actions">
                    <a  class="btn blue "  href="#{{ model.tableId }}_modal_create" data-toggle="modal">
                        <i class="fa fa-plus"></i>
									<span class="hidden-480">
										Add
									</span>
                    </a>
                    <div class="btn-group">
                        {#{% block button_group_tools %}#}
                        {#{% enblock  button_group_tools %}#}
                    </div>
                </div>

            </div>
            <div class="portlet-body" >
                <div class="table-container">
                    <div class="table-actions-wrapper">
									<span>
									</span>
                        <select class="table-group-action-input form-control input-inline input-small input-sm">
                            <option value="">Select...</option>
                            {% if rutas.delete is not null %}
                                <option value="delete">Delete</option>
                            {% endif %}
                            {% block table_actions %}
                            {% endblock table_actions %}
                        </select>
                        <button class="btn btn-sm blue table-group-action-submit"><i class="fa fa-check"></i> Send</button>
                    </div>
                    <table class="table table-striped table-bordered table-hover scrooler" url="{{ path(rutas.list) }}" url2="{{ rutas.delete is not null ? path(rutas.delete) : ""}}" id="{{ model.tableId }}"  >
                        <thead>
                        <tr role="row" class="heading">
                            {% if(model.rowNumberColumn) %}
                                <th width="2%" style="text-align: center" sort="false">
                                    #
                                </th>
                            {% endif %}
                            {% if(model.hasCheck) %}
                                <th width="1%" sort="false">
                                    <input type="checkbox" class="group-checkable">
                                </th>
                            {% endif %}
                            {% for columna in model.columns %}
                                    <th width="{{ columna.ancho }}" class='{{ columna.hidden ? "hidden": "" }}'  {{ columna.sortable ? 'sort=true sort-order='~columna.sortOrder : 'sort=false'}} {{ columna.defaultOrder==true?'defaultorder=true':"defaultorder=false" }} >
                                        {{ columna.nombre }}
                                    </th>
                            {% endfor %}
                            <th width="12%" style="text-align: center" sort="false">
                                Actions
                            </th>
                        </tr>
                        <tr role="row" class="filter">
                            {% if(model.rowNumberColumn) %}
                                <td>
                                </td>
                            {% endif %}
                            {% if(model.hasCheck) %}
                                <td>
                                </td>
                            {% endif %}
                            {% for columna in model.columns %}
                                <td>
                                {% if columna.filterName is not null and columna.filterType=='text'%}
                                    <input type="text" class="form-control  form-filter" name="{{ columna.filterName }}">
                                {% elseif columna.filterName is not null and columna.filterType=='select' %}
                                    <select name="{{ columna.filterName }}" class="form-control form-filter input-sm select2me" >
                                        <option value="">Select...</option>
                                        {% if columna.filterData is defined %}
                                            {% for filterData in columna.filterData.data %}
                                                <option value="{{attribute(filterData,columna.filterData.idValue ) }}">{{ attribute(filterData,columna.filterData.showValue ) }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                {% elseif columna.filterName is not null and columna.filterType=='check' %}
                                    <input type="checkbox" value="1" name="{{ columna.filterName }}"  class="form-control form-filter" >
                                {% endif %}
                                </td>
                            {% endfor %}

                            <td>
                                <div class="margin-bottom-5" style="text-align: center">
                                    <button class="btn btn-sm blue filter-submit margin-bottom"><i class="fa fa-search"></i> Buscar</button>
                                    <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i></button>
                                </div>
                            </td>
                        </tr>
                        </thead>
                        <tbody   ></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
