 {%block breadcrumb%}
<div class="page-bar">
<h1>
 <i class="{{ model.icon }}"></i>{{ model.name }}
                             {% if model.allowAdd == true  and model.modal%}
                                {% block top_button_block_modal %}
                                <div class="btn-group ">
                                    <a  class="btn blue btn-add "  id="{{ model.tableId }}_page_create" >
                                        </a>
                                   
                                        </div>
                                {% endblock %}
                            {% else %}
                            <div class="btn-group ">
                                <button  class="btn blue btn-add "  id="{{ model.tableId }}_page_create">
                                </button>
                                {% block top_button_block %}
                                    {% if model.hasExport %}
                                        <div class="btn-group">
                                            <a class="btn blue btn-export" href="#" data-toggle="dropdown">
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                {% if model.hasEmailExport %}
                                                    <li>
                                                        <a id="{{ model.tableId }}_email_export" href="#{{ model.tableId }}_modal_pdf_export">
                                                            <i class="fa fa-list-alt"></i>
                                                            Lista de Correo
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                <li>
                                                    <a id="{{ model.tableId }}_export" href="#" >
                                                        <i class="fa fa-file-text"></i>
                                                        Export to PDF
                                                    </a>
                                                </li>                                                
                                                {% if model.hasXlsExport is defined and not null%}
                                                    <li>
                                                        <a id="{{ model.tableId }}_xls_export"  href="#{{ model.tableId }}_modal_xls_export">
                                                            <i class="fa fa-table"></i>
                                                            Export to Excel
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                <li class="divider">
                                                </li>
                                                <li>
                                                    <a  data-toggle="modal" href="#{{ model.tableId }}_modal_pdf_export">
                                                        <i class="fa fa-cog"></i>                                                       
                                                           Config                                                        
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                {% endblock %}
                                </div>
                            {% endif %}

</h1>
  
 
</div>
 {%endblock%}
{% block form_block %}
  {% if rutas.new is not null and model.modal %}
        <div class="modal fade "  data-backdrop="static" data-keyboard="false" id="{{ model.tableId }}_modal_create" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content ajax_form_block">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add {{ model.editTitle|lower }}</h4>
                    </div>
                    <form  action="{{path(rutas.new) }}"  id="{{ model.tableId }}_new_form" method="POST" class="ajax_form">
                        <div class="modal-body">
                            <div id="{{ model.tableId }}_new_form_container" >
                                {#{{ render(path(rutas.new))}}#}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                            <button class="btn blue " type="submit"  value="Aceptar">Ok</button>
                        </div>
                        <input type="hidden" name="modified" value="false"/>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
    {% endif %}
    {% if rutas.exportEmail is not null  %}
        <div class="modal fade "  data-backdrop="static" data-keyboard="false" id="{{ model.tableId }}_modal_email_export" role="basic" aria-hidden="true" target="_blank">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Correos de profesores</h4>
                    </div>
                    <div class="modal-body" id="listaCorreos">
                        <div class="form-group">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue default" data-dismiss="modal">Ok</button>
                        {#<button class="btn blue " type="submit"  value="Aceptar">Aceptar</button>#}
                    </div>
                    {#<input type="hidden" name="modified" value="false"/>#}
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
    {% endif %}
    {% if rutas.exportXLS is not null  %}
        <div class="modal fade "  data-backdrop="static" data-keyboard="false" id="{{ model.tableId }}_modal_xls_export" role="basic" aria-hidden="true" target="_blank">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Select fields</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="checkbox-list">
                                {% for value,field in model.reportFields %}
                                    <label>
                                        <input type="checkbox" name="report_fields" value="{{ value }}" {% if field.checked %} checked="checked" {% endif %} /> {{ field.show }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue default" data-dismiss="modal">OK</button>
                        {#<button class="btn blue " type="submit"  value="Aceptar">Aceptar</button>#}
                    </div>
                    {#<input type="hidden" name="modified" value="false"/>#}
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
    {% endif %}
    {% if rutas.exportPDF is not null  %}
        <div class="modal fade "  data-backdrop="static" data-keyboard="false" id="{{ model.tableId }}_modal_pdf_export" role="basic" aria-hidden="true" target="_blank">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Select fields.</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="checkbox-list">
                                {% for value,field in model.reportFields %}
                                    <label>
                                        <input type="checkbox" name="report_fields" value="{{ value }}" {% if field.checked %} checked="checked" {% endif %} /> {{ field.show }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue default" data-dismiss="modal">Ok</button>
                    </div>
                    {#<input type="hidden" name="modified" value="false"/>#}
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
    {% endif %}

    {% if rutas.edit is not null and model.modal  %}
        <div class="modal fade modal_editar"  data-backdrop="static" data-keyboard="false" id="{{ model.tableId }}_modal_edit"  role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content ajax_form_block">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Modify {{ model.editTitle|lower }}: <b></b></h4>
                    </div>
                    <form  action="{{ path(rutas.edit) }}"  method="POST" id="{{ model.tableId }}_edit_form" class="ajax_form">
                        <div class="modal-body">
                            <div id="{{ model.tableId }}_edit_form_container">
                                {#{{ render(path(rutas.edit))}}#}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                            <button class="btn blue " type="submit" value="Aceptar">Ok</button>
                        </div>
                        <input type="hidden" name="modified" value="false"/>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
    {% endif %}
    {% if rutas.details is not null  %}
        <div class="modal fade modal_detalles"  data-backdrop="static" data-keyboard="false" id="{{ model.tableId }}_modal_detalles" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content ajax_form_block">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Details {{ model.name }}</h4>
                    </div>
                    <form  action="{{ path(rutas.details) }}" method="POST" id="{{ model.tableId }}_detalles_form" class="ajax_form">
                        <div class="modal-body">
                            <div id="{{ model.tableId }}_detalles_form_container">
                                {#{{ render(path(rutas.details))}}#}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
    {% endif %}

{% endblock form_block %}
<div id="{{ model.tableId }}_before_table">
    {% block before_table %}
        {% if model.hasExport %}
            <form target="_blank" method="post" action="" id="{{ model.tableId }}_modal_pdf_export_form">
                <input name="iSortCol_0" value="" class="order_column" type="hidden" />
                <input name="sSortDir_0" value="" class="order_dir" type="hidden" />
                {% if model.advancedSearchView is not null %}
                    <div class="row from-group">
                        <div class="col-md-12 ">
                            <!-- BEGIN Portlet PORTLET-->
                            <div class="portlet">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-reorder"></i>Search {{model.name}}
                                    </div>
                                    <div class="tools">
                                        <a class="expand" href="javascript:;">
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body" style="display: none;">
                                    {{ render(path(model.advancedSearchView)) }}
                                </div>
                            </div>
                            <!-- END Portlet PORTLET-->
                        </div>
                    </div>
                {% endif %}
            </form>
        {% endif %}

    {% endblock %}
</div>
{% block table %}
    <div class="row">
        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet">
                
                <div class="portlet-body" >
                    <div class="table-container table-responsive" id="{{ model.tableId }}_table-container">

                        <div class="table-actions-wrapper">
									<span>
									</span>
                            {% if model.hasGroupActions == true %}
                                <select class="table-group-action-input form-control input-inline input-small input-sm" {% if model.hasActive %} activar_url="{{ path(rutas.activar) }}" desactivar_url="{{ path(rutas.desactivar) }}"{% endif  %}>
                                    <option value="">Select...</option>
                                    {% if rutas.delete is not null %}
                                        <option value="delete">Delete</option>
                                    {% endif %}
                                    {% if model.hasActive %}
                                        <option value="activar">Activate</option>
                                        <option value="desactivar">Deactivate</option>
                                    {% endif %}
                                    {% block table_actions %}
                                    {% endblock table_actions %}
                                </select>
                                <button class="btn btn-sm blue table-group-action-submit"><i class="fa fa-check"></i> Send</button>
                            {% endif %}
                        </div>
                        <div class="row">
                        <table init="false" style="width:100%"
                                {% if rutas.exportPDF is not null %}
                                    export_url_pdf="{{ path(rutas.exportPDF) }}" {% endif %}
                                {% if rutas.exportXls is not null %}
                                    export_url_xls="{{ path(rutas.exportXls) }}" {% endif %}
                                {% if(model.modal != true and rutas.new is not null) %}
                                    rutanew="{{ path(rutas.new) }}" {% endif %} {% if(model.modal != true and rutas.edit is not null) %}
                            rutaedit="{{ path(rutas.edit) }}" {% endif %} {% if(model.rowNumberColumn) %} rowNumber="true"{%endif  %}class="table table-striped table-bordered table-hover" modal="{{ model.modal }}" ajax="{{ model.ajax }}" type="dataTable" url="{{ path(rutas.list) }}" url2="{{ rutas.delete is not null ? path(rutas.delete) : ""}}" id="{{ model.tableId }}"  extra_actions="{{ model.extraActions }}" extra_params="{{ model.extraParams}}" >
                            <thead>
                            <tr role="row" class="heading">
                                {#<div class="row">#}
                                {% if(model.rowNumberColumn) %}
                                    <th width="1%" style="text-align: center" sort="false">
                                        #
                                    </th>
                                {% endif %}
                                {% if(model.hasCheck) %}
                                    <th width="1%" class="text-center" sort="false">
                                        <input type="checkbox" class="group-checkable">
                                    </th>
                                {% endif %}
                                {% for columna in model.columns %}
                                    <th  width="{{ columna.ancho }}" class='{{ columna.hidden ? "hidden": "" }} '  {{ columna.sortable ? 'sort=true sort-order='~columna.sortOrder : 'sort=false'}} {{ columna.defaultOrder==true?'defaultorder=true':"defaultorder=false" }} >
                                        {{ columna.name }}
                                    </th>
                                {% endfor %}
                                <th width="{{ model.actionsWidth}}%"   class="actions-table" sort="false">
                                    Actions
                                </th>
                                </div>
                            </tr>
                            {% if model.hasFilters %}
                                <tr role="row" class="filter">
                                    {% if(model.rowNumberColumn) %}
                                        <td>
                                        </td>
                                    {% endif %}
                                    {% if(model.hasCheck) %}
                                        <td>
                                        </td>
                                    {% endif %}
                                    {% for columna in model.columns %}
                                        <td {% if columna.alineacion is not null %} class="{{ columna.alineacion }}"{% endif %}>
                                            {% if columna.filterName is not null and columna.filterType=='text'%}
                                                <input type="text" class="form-control form-filter" autocomplete="off" name="{{ columna.filterName }}">
                                            {% elseif columna.filterName is not null and columna.filterType=='select' %}
                                                <select name="{{ columna.filterName }}" class="form-control form-filter input-sm select2me" data-placeholder="Select...">
                                                    <option value=""></option>
                                                    {% if columna.filterData is defined %}
                                                        {% if columna.filterData.grouped %}
                                                            {% for group,filterValues in columna.filterData.data %}
                                                                <optgroup label="{{ group }}">
                                                                    {% for filterData in filterValues %}
                                                                        <option value="{{attribute(filterData,columna.filterData.idValue ) }}">{{ attribute(filterData,columna.filterData.showValue ) }}</option>
                                                                    {% endfor %}
                                                                </optgroup>
                                                            {% endfor %}
                                                        {% else %}
                                                            {% for filterData in columna.filterData.data %}
                                                                <option value="{{attribute(filterData,columna.filterData.idValue ) }}">{{ attribute(filterData,columna.filterData.showValue ) }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endif %}
                                                </select>
                                            {% elseif columna.filterName is not null and columna.filterType=='check' %}
                                                <div class="text-center">
                                                    <input type="checkbox" value="1"  name="{{ columna.filterName }}"  class="form-control form-filter" >
                                                </div>
                                            {% elseif columna.filterName is not null and columna.filterType=='time' %}
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="text"  name="{{ columna.filterName }}" value="" class="form-control timepicker timepicker-24 form-filter">
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td>
                                    {% endfor %}

                                    <td>
                                        <div class="margin-bottom-5" style="text-align: center">
                                            <button class="btn btn-sm blue filter-submit margin-bottom tooltips" data-original-title="Filtrar" data-placement="top"><i class="fa fa-filter"></i> </button>
                                            {#<button class="btn btn-sm blue filter-submit margin-bottom"><i class="fa fa-search"></i> </button>#}
                                            <button class="btn btn-sm red filter-cancel tooltips" data-original-title="Cancel Filters" data-placement="top"><i class="fa fa-times"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                            </thead>
                            <tbody   ></tbody>
                        </table>
                        
                        </div>
                        {% block aftertable %}

                        {% endblock %}
                    </div>
                </div>
            </div>
            <!-- End: life time stats -->
        </div>
    </div>
    {% if title is defined %}
        <script>
            {
                var tableObj = $("#" + "{{ model.tableId}}");
                var formObj = tableObj.closest('form');//.prop('tableId',"{{ model.tableId}}");
                var modalObj = formObj.closest('.modal');
                $('h4 b', modalObj).text("{{ title }}");
            }
        </script>
    {% endif %}
{% endblock table %}

{% block redefine %}
{% endblock %}